@import "../styles/colors.scss";
@import "../styles/variables.scss";

.layout {
  width: 100%;
}

.layout-sidebar {
  height: calc(100vh - 64px);
  margin-top: 64px;
  width: 218px;
  z-index: 20;
}

.layout-content {
  background-color: $background-color;
  height: calc(100vh - 64px);
  margin-top: 64px;

  @media (max-width: $small) {
    width: 100%;
  }
}
