<mat-toolbar class="header">
  <div class="header__title">
    <button
      class="header__title-button"
      mat-icon-button
      matListItemMeta
      (click)="openMenu()"
    >
      @if (!isMenuOpened) {
      <mat-icon class="header__title-button-icon" fontIcon="menu"></mat-icon>
      } @else {
      <mat-icon
        class="header__title-button-icon"
        fontIcon="arrow_back"
      ></mat-icon>
      }
    </button>
    <h6 class="header__title-text">Product Pulse</h6>
  </div>

  <div class="header-toolbar">
    <app-search />
    <app-notifications />
    <app-user />
  </div>
</mat-toolbar>
