<mat-list role="list" class="mat-list-base">
  <mat-list-item class="mat-list-item">
    <mat-icon matListItemIcon>home</mat-icon>
    Dashboard
  </mat-list-item>
  <mat-list-item class="mat-list-item">
    <mat-icon matListItemIcon>account_circle</mat-icon>
    Profile
  </mat-list-item>
  <mat-list-item class="mat-list-item">
    <mat-icon matListItemIcon>shopping_cart</mat-icon>
    E-commerce
  </mat-list-item>
  <mat-list-item class="mat-list-item">
    <mat-icon matListItemIcon>archive</mat-icon>
    Product
  </mat-list-item>
</mat-list>

<p class="sidebar-title">Help</p>
<mat-list role="list" class="mat-list-base">
  <mat-list-item class="mat-list-item"
    ><mat-icon matListItemIcon>library_books</mat-icon>
    Library
  </mat-list-item>
  <mat-list-item class="mat-list-item"
    ><mat-icon matListItemIcon>question_answer</mat-icon>
    Support
  </mat-list-item>
</mat-list>
