<button
  role="menu"
  class="user-button"
  mat-icon-button
  [matMenuTriggerFor]="userMenu"
>
  <mat-icon
    matListItemIcon
    class="user-button__icon"
    fontIcon="person"
  ></mat-icon>
</button>
<mat-menu #userMenu="matMenu" xPosition="before">
  <div class="user-menu-title">
    <h4 class="user-menu-title__name">UserName</h4>
  </div>
  <button mat-menu-item class="user-menu__item-title">
    <mat-icon
      matListItemIcon
      class="user-menu-icon"
      fontIcon="person"
    ></mat-icon>
    Profile
  </button>
  <button mat-menu-item class="user-menu__item-title">
    <mat-icon
      matListItemIcon
      class="user-menu-icon"
      fontIcon="description"
    ></mat-icon>
    Tasks
  </button>
  <button mat-menu-item class="user-menu__item-title">
    <mat-icon
      matListItemIcon
      class="user-menu-icon"
      fontIcon="email"
    ></mat-icon>
    Messages
  </button>
  <div class="sign-button-wrapper">
    <button class="sign-button" mat-stroked-button>Sign out</button>
  </div>
</mat-menu>
