@import "../../../styles/colors.scss";
@import "../../../styles/font.scss";
@import "../../../styles/variables.scss";

.user-button {
  background-color: $blue;
  box-shadow: none;
  margin-left: 16px;

  &__icon {
    color: $white-80;
  }

  &:hover {
    background-color: $black-08;
  }

  @media (max-width: $small) {
    margin-top: 0;
  }
}

.user-menu-title {
  padding: 16px 48px 0 16px;
  margin-bottom: 4px;

  &__name {
    margin-bottom: 4px;
    font-weight: $fw-lighter;
    font-size: $fs-large;
    color: $dark-grey;
  }

  &__link {
    color: $blue;
    font-weight: $fw-lighter;
    font-size: $fs-small;
    text-decoration: none;
  }
}

.user-menu-icon {
  color: $light-grey;
  margin-right: 16px;
  opacity: 0.8;
}

.sign-button-wrapper {
  text-align: center;
  padding: 8px 0 16px;
  width: 100%;
}

.sign-button {
  border: 1px solid;
  background-color: $background-color;
  color: $blue;
  width: 80%;
}

::ng-deep .user-menu {
  .user-menu__item-title {
    color: $dark-grey;

    &:hover {
      & .user-menu-icon {
        color: #536dfe;
      }
    }
  }
}
