@import "../../../styles/colors.scss";
@import "../../../styles/variables.scss";

.notification-button {
  background-color: $blue;
  box-shadow: none;
  margin-left: 16px;

  &__icon {
    color: $white-80;
  }

  &:hover {
    background-color: $black-08;
  }

  @media (max-width: $small) {
    margin-top: 0;
  }
}

::ng-deep .notification-menu {
  .notification-menu__button {
    .mat-icon.notification-menu__icon_yellow {
      color: $yellow;
    }

    .mat-icon.notification-menu__icon_green {
      color: $green;
    }

    .mat-icon.notification-menu__icon_pink {
      color: $pink;
    }

    .mat-icon.notification-menu__icon_blue {
      color: $blue;
    }
  }
}
